@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Infrastructure as Code</h1>
    <p>Reading secret value from Azure Key Vault using managed identity: <b>@Model.SecretValue</b></p>
</div>
